/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color: black;
    font-family: Helvetica;
    font-size:2em;
    margin:0%;
    padding: 0%;


}
.page {
	background-color: blue; 
}
.entete{
    background-color:violet;
    padding: 10px;
}
.colonnes {
    background-color: deepskyblue;
}
.colonne_menu{
    background-color: gold;
}
.colonne_contenu {
    background-color: green;
    margin: 10px;
}
.pieddepage{
    background-color: grey;
    color:red;
    text-align: center;
    line-height: 1.5em;
}

.slogan{
    font-size: 1em;
    color:brown;
    font-style: italic;
}

.titre{
    font-size:2em;
    color:brown;
}

h1{
    background-color:red;
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid blue;
}

h2{
    color:white;
    font-size: 0.8em;
    margin:20px;
    font-variant-caps: all-small-caps;
}

strong{
    color:yellow;
    font-weight: 100;

}

em{
    color: chocolate;
}

.introduction{
    font-style: italic;
    border: solid black;
    margin: 10px;
    border-radius: 10px;
}

a{
    font-weight:bold;
}

a:hover{
    color:cornflowerblue;
    text-decoration: none;
}